.projects {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: black;
    padding-bottom: 5%;
}

.projectcard_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    /* Increase gap for larger spacing */
}


.project_card {
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    min-height: 350px;
    /* Set a minimum height for uniform card sizes */
}

.project_card:hover {
    transform: translateY(-10px);
}

.project_card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project_card p {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.4;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags span {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.project_links {
    margin-top: auto;
    /* Push links to the bottom of the card */
}

.project_links a {
    text-decoration: none;
    color: #092c37;
    margin-right: 10px;
    font-size: 0.9rem;
    transition: color 0.2s;
}

.project_links a:hover {
    color: #0077b6;
}